<div class="question">
  <h3><%= @question %></h3>
  <p class="speaker">-You</p>
</div>

<div class="answer">
  <h3><%= @answer %></h3>
  <p class="speaker">-The Coach</p>
</div>

<p class="link"><%= link_to "Ask a new question", ask_path %></p>


