.input-style {
  margin: 10px;
}

.question, .answer {
  display: flex;
  flex-direction: column;
  border-left: solid 10px #DDDDDD;
  padding: 20px;
  margin: 20px;
}

.answer {
  background-color: #FEFFE0
}

h3 {
  font-size: 16px;
}

.link {
  text-decoration: none;
}

.speaker {
  font-style: italic;
}

form {
  display: flex;
  justify-content: center;
}

